body {
	font-size: 16px;
	background-color: #f8f8f8;
}

.nav-pills {
	margin-top: 5vh;
	margin-bottom: 5vh;
}

main .tab-content {
	border-radius: 4px;
	padding-top: 20px;
}

main .tab-pane {
	height: calc(420px * 2);
	max-height: calc(420px * 6 + 20px);
}

main .inner{
	position: relative;
	padding: 10px;
	height: 400px;
}

main .inner .img {
	background-color: #f8f8f8;
	border-radius: 4px;
	overflow: hidden;
	height: 180px; 
}

main a.btn{
	border-radius: 50px;
	position: absolute;
	bottom: 10px;
	left: calc(50% - 57px);
}

/*STYLE*/

.w3-theme-l2 {color:#000 !important; background-color:#f6f6f6 !important}
.w3-theme-l1 {color:#000 !important; background-color:#f3f3f3 !important}
.w3-theme-d1 {color:#000 !important; background-color:#d8d8d8 !important}
.w3-theme-d2 {color:#000 !important; background-color:#c0c0c0 !important}