body {

}

:root {
	--color-blue: #2190c1;
	--color-orange: #f98561;
}

/*NAVBAR*/

.navbar {
	margin-bottom: 0;
}

@media screen and (min-width: 992px) {
	.navbar .navbar-brand {
		margin-right: 15vw;
	}	
}

@media screen and (min-width: 768px) and (max-width: 992px){
	.navbar-form input.form-control {
		width: 160px;
	}
}

.navbar button.btn {
	background-color: transparent;
	padding: 3px;
}


@media screen and (min-width: 768px) {
	.navbar-nav:first-child li a {
		padding-top: 21px;
		padding-bottom: 21px;
	}
}

.navbar ul li a,
.navbar ul li.active a {
	font-weight: bold;
}

.navbar ul:first-of-type li:hover a,
.navbar ul:first-of-type li.active a{
	color: white;
	background-color: #12a3d6;
}

.navbar ul:last-of-type li a {
	color: white;
	margin-top: 15px;
	border-radius: 6px;
	padding: 5px 20px;
}

.navbar ul:last-of-type li:hover a {
	color: white;
	background-color: var(--color-blue);
}

/*SLIDER*/

.slider {
	background: url(../img/header-bg.png) no-repeat center/cover;
	height: 491px;
}

.slider .carousel-indicators {
	left: 90%;
	margin-left: -15%;
	width: 130px;
}

@media screen and (max-width: 767px) {
	.slider .carousel-indicators {
		margin-left: -25%;
	}
}

.slider .carousel-indicators li {
	background-color: #adadad;
	border: 4px solid #adadad;
	height: 18px;
	width: 18px;
}

.slider .carousel-indicators li.active {
	background-color: var(--color-orange);
	border-color: var(--color-blue);
}

.slider .carousel-caption {
	left: 0;
	right: 0;
	height: 100%;
}

.slider .carousel-caption h2 {
	font-size: 6rem;
	margin-top: 5%;
	margin-bottom: 5%;
}

@media screen and (max-width: 767px) {
	.slider .carousel-caption h2 {
		font-size: 3rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.slider .carousel-caption h2 {
		font-size: 4rem;
	}
}

.slider .carousel-caption p {
	margin-bottom: 5%;
	padding: 0 15%;
}

@media screen and (max-width: 767px) {
	.slider .carousel-caption p {
		padding: 0 10%;
	}
}

@media screen and (min-width: 1200px) {
	.slider .carousel-caption p {
		padding: 0 20%;
	}
}

.slider__inner-img {
	background-color: rgba(0,0,0,.3);
	visibility: hidden;
	height: 491px !important;
	width: 100%;
}

.slider a.btn {
	font-family: Roboto-Condensed;
}

@media screen and (min-width: 992px) {
	.slider a.btn {
		font-family: Roboto-Condensed;
		padding: 16px 40px;
	}
}

.slider a.carousel-control {
	visibility: hidden;
}

/*SERVICE*/

.service {
	padding-top: 50px;
	padding-bottom: 30px;
}

.service__heading {
	font-family: Roboto-Condensed;
	font-size: 22px;
	font-weight: bold;
	display: inline-block;
	position: absolute;
	top: -68px;
	left: calc(50% - 91px);
	margin: 0;
	border-radius: 8px;
	padding: 8px 25px; 
}

@media screen and (max-width: 992px) {
	.service .row.text-center > div {
		margin-bottom: 20px
	}
}

/*PORTFOLIO*/

.portfolio {
	padding-top: 50px;
	padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
	.text-right {
		text-align: left;
	}
}

@media screen and (max-width: 992px) {
	.portfolio .row:last-of-type > div {
		margin-bottom: 15px;
	}
}

.portfolio p {
	color: white;
}

.portfolio__img {
	background-color: white;
	position: relative;
	padding: 10px;
	height: auto;
	max-width: 280px;
}

.portfolio__img:hover .portfolio__img-hover {
	background-color: rgba(0,0,0,.5);
	position: absolute;
	display: block;
	height: calc(100% - 10px * 2);
	width: calc(100% - 10px * 2);
}

.portfolio__img-hover-btn {
	font-weight: bolder;
	background-color: transparent;
	position: absolute;
	visibility: hidden;
	top: calc(50% - 23px);
	left: calc(50% - 44px);
	border-color: white;
}

.portfolio__img:hover .portfolio__img-hover-btn {
	color: white;
	visibility: visible;
}

.portfolio__img-inner {
	background-color: #bebebe;
	max-height: 200px;
	height: 200px;
	width: calc(100%);
}

/*OFFER*/

.offer {
	padding-top: 30px;
	padding-bottom: 30px;
}

@media screen and (max-width: 992px) {
	.offer .row:last-of-type > div {
		margin-bottom: 15px;
	}
}

.offer h2 {
	font-family: sans-serif;
	font-weight: bolder;
	margin-top: 0;
	margin-bottom: 25px;
}

.offer h2 + p {
	margin-bottom: 30px;
}

/*FEEDBACK*/

.feedback h2 {
	font-weight: bold;
	margin-bottom: 35px;
}

.feedback .tab-content {
	margin-bottom: 20px;
}

.feedback .tab-pane p {
	font-size: 20px;
	margin-bottom: 50px;
}

.feedback .tab-pane cite {
	font-style: normal;
}


@media screen and (max-width: 767px) {
	.feedback ul {
		padding-left: calc((100vw - 297px - 30px) / 2);
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.feedback ul {
		padding-left: 17%;
		padding-right: 17%;
	}
}

@media screen and (min-width: 1200px) {
	.feedback ul {
		padding-left: 5%;
		padding-right: 5%;
	}
}

.feedback .nav-pills {
	margin-bottom: -4px;
}

.feedback .nav-pills img {
	border-bottom: 6px solid #c1c1c1;
	padding-bottom: 15px;
	height: 90px;
}

.feedback .nav-pills .border-up {
	border: 10px solid transparent;
	border-bottom-color: #c1c1c1;
	margin-top: -26px;
	margin-left: calc(50% - 10px);
	height: 0;
	width: 0;
}

.feedback .nav-pills li.active .border-up,
.feedback .nav-pills li:hover .border-up {
	border-bottom-color: var(--color-orange);
}

.feedback .nav-pills li.active img,
.feedback .nav-pills li:hover img {
	border-bottom-color: var(--color-orange);
}

.feedback .nav-pills li.active a,
.feedback .nav-pills li:hover a {
	background-color: transparent;
}

/*FOOTER*/

footer {
	color: #a3afb2;
	padding-top: 30px;
	padding-bottom: 30px;
}

footer hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top-color: #556270;
}

footer h3 {
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.twitter-feeds__feed p {
	margin-bottom: 5px;
}

footer .media p {
	margin-bottom: 5px;
}

footer .media img {
	background-color: #fff;
	margin-right: 10px;
	height: 57px;
	width: 57px;
}

.footer-contacts__contact {
	margin-bottom: 20px;
}

.footer-contacts__contact img {
	margin-right: 10px;
}

.footer-contacts__contact:last-of-type img {
	margin-top: 7px;
}

/*STYLE*/

.font-serif {
	font-family: Merriweather;
	font-weight: bold;
}

.text-orange {
	color: var(--color-orange);
}

.text-blue {
	color: var(--color-blue);
}

.bg-orange {
	color: #ffebca;
	background-color: var(--color-orange);
}

.bg-blue {
	color: white;
	background-color: var(--color-blue);
	border: none;
}

.section-bg {
	background-color: #2e3e4f;
}