body{
	font-family: "Open Sans", sans-serif;
}

body a:hover{
	text-decoration: none;
}

/*HEADER*/

body > header {
	background: url(../img/heading-bg.jpg) no-repeat center/cover;
	height: 380px;
}

@media screen and (min-width: 767px) {
	.navbar.navbar-inverse {
		background-color: rgba(0,0,0,.6);
	}
}

.collapse .navbar-nav a {
	font-weight: bold;
}

@media screen and (min-width: 768px) {
	.navbar{
		height: 100px;
	}
	.navbar .navbar-brand {
		margin-top: 25px;
	}
	.collapse .navbar-nav a {
		padding: 50px 10px 26px;
	}
	.collapse .navbar-nav a:hover {
		background-color: rgba(0,0,0,.3) !important;
		border-bottom: 3px solid #dd3f19;
	}
	.collapse .navbar-nav .down{
		visibility: hidden;
		margin-left: calc(50% - 8px);
		border: 8px solid transparent;
		border-top-color: #dd3f19;
		height: 0;
		width: 0;
	}
	.collapse .navbar-nav a:hover + .down{
		visibility: visible;
	}
	.collapse form {
		margin-top: 40px;
	}
}

.navbar-form.hidden-xs button,
.navbar-form.hidden-xs button:hover,
.navbar-form.hidden-xs button:focus,
.navbar-form.hidden-xs button:focus > i {
	color: white;
	background-color: transparent;
	border-color: transparent;
}

.navbar-form button:hover > i {
	color: white;
}

body > header {
	margin-top: -120px;
}

@media screen and (max-width: 767px) {
	header {
		margin-top: -20px;
	}
}

header > .container{
	color: white;
	font-weight: lighter;
}

h1{
	font-size: 48px;
	font-weight: lighter;
	margin-top: 50px;
	margin-bottom: 35px;
}

h1 + p {
	font-size: 1.125em;
}

/*MAIN*/

main{
	padding-top: 60px;
	padding-bottom: 90px;
}

main .content{
	padding-top: 50px;
}

main .content article {
	margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
	main .content article {
		padding-left:  20vw;
		padding-right:  20vw;
	}
}

main .carousel.slider{
	margin: 0 auto;
	width: 300px;
}

main .carousel.slider ol,
main .carousel.slider a{
	visibility: hidden;
}

main .carousel.slider:hover ol,
main .carousel.slider:hover a{
	visibility: visible;
}

main hr{
	margin-left: 25%; 
	width: 50%;
}

main article footer{
	color: #adadad;
	margin-top: 20px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

main article footer p{
	margin: 14px 0;
}

/*FOOTER*/

body > footer{
	color: rgba(255,255,255,.3);
	background: url(../img/footer-bg.jpg) no-repeat center/cover;
	position: relative;
	padding-top: 60px;
	height: 320px;
}

@media screen and (max-width: 767px) {
	body > footer {
		padding-top: 30px;
	}
}

body > footer img{
	margin-bottom: 20px
}

body > footer .container p{
	margin-bottom: 30px;
}

body > footer ul.list-inline {
	border: 1px solid rgba(255,255,255,.3);
	border-radius: 4px;
	padding: 12px 20px;
}

body > footer ul.list-inline li {
	padding-left: 8px;
	padding-right: 8px;
}

body > footer a{
	color: rgba(255,255,255,.3);
}

body > footer a:hover{
	color: #dd3f19;
}

body > footer .container-fluid{
	background-color: rgba(0,0,0,.1);
	position: absolute;
	bottom: 0;
	padding-top: 25px; 
	height: 60px;
	width: 100%;
}

body > footer .container-fluid a{
	margin-left: 30px;
}

/*STYLE*/

button.btn{
	color: #adadad;
}