body{
	font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

.logo{
	background-image: url(../image/logo.png);
	float: left;
	margin: 35px 0 0;
	height: 27px;
	width: 168px;
}

.logo a{
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

hr{
	border: none;
	border-top: 1px solid #e5e5e5;
	width: 144px;
}

/*HEADER*/

.header{
	background: url(../image/heading-bg.jpg) no-repeat top left/cover;
	position: relative;
	height: 380px;
	width: 100%;
}

.header header{
	background-color: rgba(0,0,0,.6);
	position: absolute;
	box-sizing: border-box;
	height: 100px;
	width: 100%;
}

.header nav{
	font-weight: 700;
	float: right;
}

.header nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.header nav ul li{
	float: left;
}

.header nav ul li a{
	color: rgba(255,255,255,.6);
	font-size: .75em;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 45px 10px;
	box-sizing: border-box;
	height: 100px;
}

.header nav ul li a:hover{
	color: white;
	background: rgba(0,0,0,.4) url(../image/caret.png) no-repeat center 101px;
	border-bottom: 2px solid red;
}

.header section{
	color: white;
	text-align: center;
	padding-top: 150px;
}

.header h1{
	font-weight: 300;
	text-transform: capitalize;
}

.header section p{
	font-weight: 300;
	opacity: .6;
}

/*MAIN*/

main.wrapper{
	padding: 60px 0 90px;
}

article.col-4{
	text-align: center;
	margin-top: 50px;
	height: 460px;
}

article .slider{
	position: relative;
	height: 220px;
}

article .slider .pagination{
	opacity: 0;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}

article .slider .pagination:hover{
	opacity: 1;
}

article .slider .pagination > div{
	position: absolute;
}

article .slider .pagination .left, 
article .slider .pagination .right{
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	width: 20%;
}

article .slider .pagination .left{
	background-image: url(../image/prev.png);
}

article .slider .pagination .right{
	background-image: url(../image/next.png);
	right: 0;
}

article .slider .pagination .left:hover, 
article .slider .pagination .right:hover{
	opacity: .5;
}

article .slider .pagination .page{
	left: 40%;
	bottom: 20px;
}

article .slider .pagination .page div{
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
	margin-right: 5px;
	height: 10px;
	width: 10px;
}

article .slider .pagination .page div:hover{
	opacity: .5;
}

article .slider .pagination .page .active{
	background-image: url(../image/active.png);
}

article .slider .pagination .page .list{
	background-image: url(../image/list-item.png);
}

article h3{
	font-weight: 300;
	margin-bottom: .8em; 
}

article header p, article footer p{
	color: #adadad;
	font-size: .6em;
}

article footer{
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

article section p{
	font-size: .85em;
	margin: 20px 0;
}

article:hover h3{
	color: #dd3f19;
}

main .row:last-child{
	margin-top: 60px;
}

/*FOOTER*/

.footer{
	color: rgba(255,255,255,.3);
	text-align: center;
	background: url(../image/footer-bg.jpg) no-repeat top left/cover;
	position: relative;
	height: 321px;
	width: 100%;
}

.footer ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

footer ul li{
	display: inline-block;
}

.footer a{
	color: rgba(255,255,255,.6);
	text-decoration: none;
}

.footer footer{
	padding-top: 60px;
}

.footer footer .logo{
	margin-bottom: 30px !important;
}

.footer footer p{
	font-size: .75em;
}

.footer footer .social{
	box-sizing: border-box;
	margin: 20px auto;
	border: 1px solid #65656a;
	border-radius: 2px;
	padding-top: 7px;
	height: 38px;
	width: 260px;
}

.footer footer .social li{
	font-size: 12px;
	margin-right: 5px;
}

.footer footer .social a:hover{
	color: #dd3f19;
}

.footer .copyright{
	background-color: rgba(0,0,0,.1);
	position: absolute;
	bottom: 0;
	padding-top: 20px;
	box-sizing: border-box;
	height: 60px;
	width: 100%;
}

.footer .copyright ul{
	display: inline-block;
	margin-bottom: -4px;
}

.footer .copyright ul li{
	float: left;
	padding-left: 20px; 
}

.footer .copyright a:hover{
	color: white;
	text-decoration: underline;
}

/*STYLE*/

.button{
	color: #e5e5e5;
	text-align: center;
	cursor: pointer;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	padding: 12px 0;
}

.button:hover{
	color: grey;
}
