body{
	color: white;
	font-family: 'Lato', 'Open Sans', sans-serif;
	position: relative;
	padding-top: 50px;
}

/*ALL SECTION*/

section#service .container,
section#about .container,
section#work .container {
	padding-bottom: 100px;
}

@media screen and (max-width: 767px) {
	section#service .container,
	section#about .container,
	section#work .container {
		padding-bottom: 20px;
	}
}

section#home{
	background: url(../image/section1-bg.jpg) no-repeat center/cover;
}

section#service{
	background: url(../image/section2-bg.jpg) no-repeat center/cover;
}

section#about{
	background: url(../image/section3-bg.jpg) no-repeat center/cover;
}

section#work{
	background: url(../image/section4-bg.jpg) no-repeat center/cover;
}

section#contacts{
	background: url(../image/section5-bg.jpg) no-repeat center/cover;
}

article {
	max-width: 260px;
}

/*NAVIGATION*/

@media screen and (min-width: 768px) {
	body{
		padding-top: 0;
	}
	.navbar-inverse {
		background-color: transparent;
		border-color: transparent;
	}
	.navbar-inverse .container{
		padding-left: 30px;
		padding-right: 30px;
	}
}

.navbar-collapse a{
	color: white !important;
}

nav li, 
nav li a {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

nav li:first-child:hover,
nav li.active:first-child a {
	background: #74c7d5 !important;
}

nav li:nth-child(2):hover,
nav li.active:nth-child(2) a {
	background: #df5c64 !important;
}

nav li:nth-child(3):hover,
nav li.active:nth-child(3) a {
	background: #91778e !important;
}

nav li:nth-child(4):hover,
nav li.active:nth-child(4) a {
	background: #a1ca6c !important;
}

nav li:last-child:hover,
nav li.active:last-child a {
	background: #82c8bd !important;
}

h2{
	font-size: 3em;
	font-weight: 300;
	margin: 200px auto 30px;
}

@media screen and (max-width: 992px) {
	h2 {
		margin-top: 100px;
	}
}

@media screen and (max-width: 767px) {
	h2{
		margin-top: 40px;
	}
}

h2 + p {
	font-size: .9em;
}

/*SECTION1*/

@media screen and (max-width: 767px) {
	#home .col-xs-12{
		margin: 0;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
}

.carousel-inner .carousel-caption {
	border-radius: 6px; 
	padding-bottom: 20%;
}

/*SECTION2*/

#service h3{
	font-size: 1.2em;
}

#service .row.text-center{
	margin-top: 150px
}

@media screen and (max-width: 991px) {
	#service .row.text-center{
		margin-top: 40px
	}
}

#service article{
	background-color: #c45158;
	padding: 30px 0;
	border-radius: 3px;
}

@media screen and (max-width: 992px) {
	#service article{
		margin-bottom: 20px;
	}	
}

#service article h3{
	font-weight: lighter;
}

/*SECTION3*/

.meet-team{
	font-weight: 700;
	background-image: url(../image/meet-team.png);
	margin: 40px auto;
	padding-top: 15px;
	height: 66px;
	width: 276px;
}

@media screen and (max-width: 992px) {
	.team-card{
		margin-bottom: 10px;
	}
}


#about .team-card{
	background-color: rgba(77,63,75,.5);
	padding: 30px 0;
	border-radius: 3px;
}

#about .team-card:hover{
	background-color: rgba(77,63,75,.8);
}

#about .social a{
	color: white;
	background-color: #a0849d;
	margin-right: 10px;
	border-radius: 50px;
	padding-top: 8px; 
	height: 30px;
	width: 30px;
}

#about .social a:hover{
	text-decoration: none;
}

#about .team-card:hover h3{
	color: white;
}

#about .team-card:hover p{
	color: #ff8973;
}

#about .team-card:hover a.fa-facebook{
	background-color: #4f689e;
}

#about .team-card:hover a.fa-twitter{
	background-color: #74c7d5;
}

#about .team-card:hover a.fa-google-plus{
	background-color: #df5c64;
}

#about .team-card:hover a.fa-linkedin{
	background-color: #3e61af;
}

/*SECTION4*/

#work .row:nth-child(2) {
	border-top: 1px solid #94b963;
	border-bottom: 1px solid #94b963;
	padding-top: 20px;
}

#work .row:nth-child(2) > * {
	margin-bottom: 20px;
}

#work .row:nth-child(2) h3 {
	margin: 3px 0 0;
}

#work .row:nth-child(2) li {
	margin-left: 3px;
	margin-right: 3px;
}

#work .row:nth-child(2) a {
	color: white;
}

#work .row:nth-child(2) li.active a,
#work .row:nth-child(2) a:hover {
	background-color: #f5c149;
}

#work .row:last-child {
	margin-top: 40px;
}

#work .row:last-child article {
	background-color: white;
	position: relative;
	margin-bottom: 20px;
	border-radius: 6px;
	padding-bottom: 18px;
}

#work .row:last-child article .filter {
	position: absolute;
	z-index: 100;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	height: 200px;
	width: 100%;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	#work .row:last-child article .filter {
		height: 164px;
	}
}

#work .row:last-child article:hover .filter {
	background-color: rgba(61,76,41,.7);
}

#work .row:last-child article .border {
	background-color: transparent;
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	visibility: hidden;
	border: 2px solid white;
	border-radius: 50px;
	height: 51px;
	width: 51px; 
}

#work .row:last-child article:hover .border {
	visibility: visible;
}

#work .row:last-child article .border > * {
	position: absolute;
	top: calc(50% - 1px);
	left: calc(50% - 11px);
	border: 1px solid white;
	height: 0;
	width: 22px;
}

#work .row:last-child article .border > div:last-child {
	top: calc(50% - 11px);
	left: calc(50% - 1px);
	height: 22px;
	width: 0;
}

#work .row:last-child article .arrow {
	position: absolute;
	bottom: 1px;
	left: calc(50% - 18px);
	border: 18px solid white; 
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
	height: 0;
	width: 0;
}

#work .row:last-child article h4 {
	color: #727272;
	margin: 18px 0 0;
}

/*SECTION5*/

#contacts .container > .row:last-child > div{
	margin-top: 100px;
}

#contacts h3{
	margin-top: 0;
	font-weight: lighter;
}

.vcard a {
	color: white;
}

.vcard .org {
	color: #c0dfda;
	margin: 10px 0;
}

.vcard .box{
	margin-top: 60px;
	display: table;
}

.vcard .box div{
	display: table-row;
}

.vcard .box div span{
	color: #c0dfda;
	display: table-cell;
}

.vcard .box div span:last-child{
	color: white;
	padding-left: 10px;
}

#contacts img {
	margin-top: 38px;
}

form input[type="text"],
form input[type="email"],
form textarea.form-control{
	color: #82c8bd !important;
	background-color: #68a097 !important;
	margin-bottom: 10px;
	border-color: transparent; 
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus{
	color: #333 !important;
	background-color: #fff !important;
}

form textarea.form-control{
	height: 160px;
	resize: none;
}

input[type="submit"]{
	color: white;
	font-size: 1.6em;
	font-weight: 900;
	background-color: #df5c64;
	border-color: #df5c64;
	border-bottom: 4px solid #c8535a;
	height: 50px;
}

.form-group > div{
	position: relative;
}

.input-placeholder {
	color: #82c8bd;
	font-size: 16px;
	position: absolute;
	padding-left: 15px;
	padding-top: 6px;
}

/*FOOTER*/

footer{
	background-color: #68a097;
	margin-top: 80px;
	padding-top: 40px;
	height: 140px;
}

@media screen and (max-width: 767px) {
	footer{
		margin-top: 40px;
		padding-top: 20px;
		height: 100px;
	}
}

footer .list-inline li{
	background-color: #82c8bd;
	margin-right: 40px;
	border-radius: 50%;
	padding: 0;
	height: 60px;
	width: 60px;
}


footer .list-inline li a{
	text-decoration: none;
	padding-top: 14px;
}

footer li a:hover{
	color: white;
}

a.fa-facebook:hover{
	background-color: #4f689e;
}

a.fa-twitter:hover{
	background-color: #74c7d5;
}

a.fa-google-plus:hover{
	background-color: #df5c64;
}

a.fa-linkedin:hover{
	background-color: #3e61af;
}

/*STYLE*/

.social-link_style{
	color: white;
	text-decoration: none;
	border-radius: 50%;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}