body{
	font-family: sans-serif;
	background-color: #f0f2ea;
	padding-bottom: 40px;
}

/*HEADER*/

header{
	padding: 40px 0;
}

header p{
	margin-top: 35px;
}

/*MAIN HEADER*/

h1{ 
	font-size: 72px;
}

@media screen and (max-width: 767px) {
	h1 {
		font-size: 32px;
	}	
}

.face{
	color: white;
	margin: auto -15px;
}

.face .col-xs-12{
	background: url(../image/page-heading.png) no-repeat center/cover;
	padding-top: 20%;
	height: 400px;
}

@media screen and (min-width: 768px) {
	.face .col-xs-12{
		background: url(../image/page-heading.png) no-repeat center/cover;
		height: 500px;
	}
	h1{
		font-size: 52px;
	}
}

@media screen and (min-width: 992px) {
	.face .col-xs-12{
		background: url(../image/page-heading.png) no-repeat center/cover;
		height: 646px;
	}	
}

@media screen and (min-width: 1200px) {
	.face .col-xs-12{
		background: url(../image/page-heading.png) no-repeat center/cover;
		height: 780px;
	}
}

/*MAIN CONTENT*/

h2{
	font-size: 42px;
	font-weight: bold;
	margin-top: 40px;
}

@media screen and (max-width: 991px) {
	h2 {
		font-size: 24px;
	}
}

.content,
footer{
	color: #333;
	background-color: white;
}

[class*="bg-link-"]{
	margin-top: 40px;
	height: 220px;
}

article div[class*="bg-link-"] a{
	color: white;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
	display: block;
	padding-top: 100px;
	height: 100%;
}

article div[class*="bg-link-"] a:hover{
	color: rgba(255,255,255,.9);
	background-color: rgba(109,168,68,.3);
}

.bg-link-1 {
	background: url(../image/1.png) no-repeat center/cover;
}

.bg-link-2 {
	background: url(../image/2.png) no-repeat center/cover;
}

.bg-link-3 {
	background: url(../image/3.png) no-repeat center/cover;
}


/*FOOTER*/

footer{
	padding: 40px 0;
}

footer img{
	background: white;
	width: 24px;
}

/*STYLE*/

.text_theme, a.text_theme{
	color: #6d7e44;
	text-decoration: none;
}

a.text_theme:hover, a.text_theme:focus{
	text-decoration: underline;
}

.hr{
	background: #fff;
	margin: 30px auto;
	height: 1px;
	width: 100px;
}