body{
	margin: 0;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
	width: 100%;
}

.wrapper{
	box-sizing: border-box;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
}

*[class*="col-"]{
	box-sizing: border-box;
	float: left;
	margin: 0 10px;
}


@media screen and (min-width: 481px;) {
	
}

@media screen and (min-width: 720px) {
	
}

@media screen and (min-width: 961px) {
	.wrapper{
		width: 960px;
	}
	
	.col-1{
		width: 60px;
	}

	.col-2{
		width: 140px;
	}

	.col-3{
		width: 220px;
	}

	.col-4{
		width: 300px;
	}

	.col-6{
		width: 460px;
	}

	.col-8{
		width: 620px;
	}

	.col-9{
		width: 700px;
	}

	.col-12{
		padding: 0 10px;
		width: 100%;
	}
}

/*@media screen and (min-width: 1141px) {
	.wrapper{
		width: 1140px;
	}

	.col-1{
		width: 75px;
	}

	.col-2{
		width: 170px;
	}

	.col-3{
		width: 265px;
	}

	.col-4{
		width: 360px;
	}

	.col-6{
		width: 550px;
	}

	.col-8{
		width: 740px;
	}

	.col-9{
		width: 835px;
	}	
}
*/