@media screen and (min-width: 481px;) {
	
}

@media screen and (min-width: 720px) {
	
}

@media screen and (min-width: 961px) {
	.wrapper{
		width: 960px;
	}
	
	.col-1{
		width: 215px;
	}

	.col-2{
		width: 140px;
	}

	.col-4{
		width: 300px;
	}

	.col-6{
		width: 460px;
	}

	.col-8{
		width: 620px;
	}
}

@media screen and (min-width: 1141px) {
	.wrapper{
		width: 1140px;
	}	
}
