body{
	color: #515862;
	font-family: Ubuntu, sans-serif;
	text-align: center;
	background-color: #f4f4f4;
}

h2{
	text-transform: uppercase;
}

/*HEADER*/

header.wrapper{
	overflow: visible;
	height: 81px;
}

header.wrapper .logo{
	text-align: left;
	padding: 33px 16px 0;
}

header.wrapper > .row > div{
	height: 81px;
}

nav ul{
	text-transform: capitalize;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li{
	float: left;
	box-sizing: border-box;
	border-bottom: 11px solid rgba(0,0,0,0);
	padding: 36px 15px 15px;
	height: 100%;
}

nav li.active{
	color: #c5f4ff;
	border-bottom-color: #0080b7;
}

nav li:hover{
	color: white;
	background-color: #f98561;
	margin-top: 31px;
	border: none;
	border-radius: 5px;
	padding: 5px 15px;
}

header.wrapper .search{
	margin-right: -6px;
}

header.wrapper form > *{
	display: block;
}

header.wrapper input{
	float: left;
	border: none;
	margin-top: 33px;
	margin-left: 60px;
	width: 40px;
}

header.wrapper input:focus{
	margin-left: 0;
	width: 110px;
}

header.wrapper form img{
	float: right;
	margin-top: 22px;
}

/*BANNER*/

.banner{
	color: #cccece;
	background: url(../image/banner.png);
	box-sizing: border-box;
	height: 491px;
}

.banner .col-2{
	font-size: 14px;
	height: 491px;
}

.banner .col-8 a{
	color: #ffebca;
	font-size: 1.5em;
	text-transform: uppercase;
	padding: 16px 58px;
}

.banner .col-8 a:hover{
	text-decoration: underline;
}

.banner .col-2:last-child{
	position: relative;
}

.banner .slider{
	position: absolute;
	bottom: 30px;
	padding-left: 28px; 
}

.banner .radio{
	background-color: #adadad;
	float: left;
	margin-right: 4px;
	border-radius: 50px;
	box-sizing: border-box;
	height: 15px;
	width: 15px;
}

.banner .radio:hover{
	background-color: #ddd;
}

.banner .radio.active{
	background-color: #2190c1; 
	border: 4px solid #f98561;
}
/*PORTFOLIO*/

section.portfolio{
	text-align: left;
	background-color: #2e3e4f;
}

section.portfolio p{
	color: #bcbcbc;
	font-size: .8em;
}

/*FOOTER*/

footer{
	background-color: #2e3e4f;
}

/*THEME*/

.theme_text-blue{
	color: #2190c1;
}

.theme_text-orange{
	color: #f98561;
}

.theme_bg-blue{
	background-color: #2190c1;
}

.theme_bg-orange{
	background-color: #f98561;
}

.theme_btn{
	text-decoration: none;
	border-radius: 5px;
}