@media screen and (max-width: 720px) {
	.wrapper > header{
		padding: 10px 0 0; 
	}
	.wrapper > header h2,
	.wrapper>header p{
		font-size: 1em;
	}

	main header h1{
		font-size: 7em;
	}

	main header p{
		font-size: 1em;
		position: absolute;
		bottom: -7px;
		left: 38%;
	}
	main section input{
		padding: 10px 20px;
	}
	main section input[type="text"]{
	width: 270px;
	}

	.wrapper > footer{
		padding: 20px 0;
	}
}