body{
	color: #424242;
	font-family: Merriweather, serif;
	background-color: #f8f8f8;
	margin: 0;
}

.wrapper{
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

h3{
	font-weight: 400;
}

/*HEADER*/
.wrapper{
	text-align: center;
}

.wrapper > header{
	padding: 120px 0 30px 0;
	box-sizing: border-box;
}

.logo{
	background: url(../image/logo.png);
	box-sizing: border-box;
	margin: 0 auto;
	height: 40px;
	width: 40px;
}

.wrapper > header h2,
.wrapper>header p{
	color: black;
	font-size: 1.7em;
	margin: 0;
}

.wrapper > header h2{
	letter-spacing: .1em;
	text-transform: uppercase;
	margin-top: 24px;
	margin-bottom: 5px; 
}

.wrapper > header p{
	letter-spacing: .4em;
}
/*MAIN*/

main header .error{
	position: relative;
	margin: 0 auto;
	width: 500px;
}

main header h1{
	font-size: 10em;
	letter-spacing: .2em;
	margin: 20px 0 10px;
}

main header p{
	font-size: 1.4em;
	position: absolute;
	bottom: -10px;
	left: 29%;
}

main section,
main footer{
	font-weight: 300;
}

main section input{
	font-family: Merriweather, serif;
	border: 1px solid #ccc;
	padding: 18px 20px;
	box-sizing: border-box;
}

main section input[type="text"]{
	width: 500px;
}

main section input[type="submit"]{
	color: white;
	margin-left: -5px;
	width: 130px;
	cursor: pointer;
}

main footer h3{
	font-weight: 400;
	font-size: 1.4em;
}

main footer{
	font-size: 1em;
}

main footer a{
	color: #363636;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
}

main footer a span{
	margin-right: 10px;
}

/*FOOTER*/

.wrapper > footer{
	color: #999;
	font-weight: 300;
	padding: 90px 0;
}

.wrapper > footer ul{
	padding-left: 0;
}

.wrapper > footer li{
	border-right: 1px solid #e3e3e3;
	padding: 1px 8px;
	display: inline-block;
}

.wrapper > footer li a{
	color: #999;
	display: block;
	height: 100%;
	width: 100%;
}

.wrapper > footer p{
	font-size: .9em;
	margin: 0;
}

.wrapper > footer p span.text_color{
	font-weight: 400;
	text-transform: uppercase;
}

/*OTHER*/
.theme_color{
	background-color: #ff9211;
}

.text_color{
	color: #ff9211;
}

a:hover{
	color: #ff9211 !important;
}