@font-face{
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 400;
	src: url("Ubuntu/Ubuntu-Regular.ttf") format("truetype");
}

@font-face{
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 700;
	src: url("Ubuntu/Ubuntu-Bold.ttf") format("truetype");
}