.clearfix{
	content: "";
	display: table;
	clear: both;
	width: 100%;
}

.wrapper{
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 15px;
	width: 600px;
}

div[class*="col-"], article[class*="col-"]{
	box-sizing: border-box;
	float: left;
	margin: 0 15px;
}

article[class*="col-"]{
	vertical-align: top;
	margin-top: 40px;
}

.auto{
	margin: 0 -15px;
	width: 600px;
}

.col-1{
	width: 255px;
}

.col-2{
	width: 540px;
}
