body{
	font-family: sans-serif;
	font-size: 14px;
	background-color: #f0f2ea;
	margin: 0;
	padding: 40px 0;
}

/*HEADER*/
header.wrapper{
	text-align: center;
	padding-bottom: 45px;
}

header.wrapper p{
	text-transform: uppercase;
	margin-top: 35px;
}

/*MAIN*/

main.wrapper{
	color: #333;
	background-color: #fff;
	padding-bottom: 42px;
}

main h3{
	color: #6d7e44;
	font-size: 14px;
	margin: 20px 0 15px 0;
}

main > div:first-child{
	color: white;
	text-align: center;
	text-transform: uppercase;
	background-image: url(../image/page-heanding.png);
	box-sizing: border-box;
	padding-top: 20%;
	height: 400px;
}

main > div:nth-child(2) h2{
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
}

main article{
	background-color: #fdfdfd;
}

main article div[class="bg-link-1"]{
	height: 150px;
}

main article div[class="bg-link-2"]{
	height: 220px;
}

main > article div[class*="bg-link-"] a{
	color: white;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	box-sizing: border-box;
	display: block;
	padding-top: 25%;
	height: 100%;
}

main > article div[class="bg-link-2"] a{
	padding-top: 20%;
}

main > article div[class*="bg-link-"] a:hover{
	color: rgba(255,255,255,.9);
	background-color: rgba(109,168,68,.3);
}

main > article:nth-child(3) > div{
	background-image: url(../image/1.png);
}

main > article:nth-child(4) > div{
	background-image: url(../image/2.png);
}

main > article:nth-child(5) > div{
	background-image: url(../image/3.png);
}

main article p{
	font-size: .85em;
}

/*FOOTER*/

footer.wrapper{
	color: #333;
	background-color: #fff;
	padding: 40px 30px;
	position: relative;
}

footer > hr{
	border-width: 0;
	border-top: 1px solid grey;
	position: absolute;
	top: 0;
	margin: 0;
	width: 540px;
}

footer .vcard{
	float: left;
	width: 286px;
}

footer .vcard > div{
	margin: 7px 0;
}

footer > .other{
	float: right;
	margin-top: 8px;
	width: 120px;
}

footer > .other div:first-child{
	padding-bottom: 10px;
}

footer > .other div:last-child{
	line-height: 1.5em;
}

footer > .other ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

footer > .other li{
	float: left;
	margin-right: 8px;
}

footer > .other li:last-child{
	margin-right: 0;
}

footer .social img{
	background: white;
	width: 24px;
}

/*OTHER*/

.text_theme, a.text_theme:link{
	color: #6d7e44;
	text-decoration: none;
}

a.text_theme:hover, a.text_theme:focus{
	text-decoration: underline;
}

.hr{
	background: #fff;
	margin: 10px auto;
	height: 1px;
	width: 100px;
}
