body {
    font-family: "PT Serif", serif !important;
    font-size: 2rem;
    background-color: #fff;
}

h1,
h2,
h3,
header li,
.btn,
#gallery .text__dark {
    font-family: Montserrat, sans-serif !important;
}

h1,
h2 {
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 5rem;
}

/*HEADER*/

body > header {
    background: url(../img/hero-bg.jpg) no-repeat center/cover;
}

@media screen and (min-width: 768px) {
    header .navbar-inverse {
        background-color: transparent !important;
        border-color: transparent !important;
    }
}

.navbar-brand  img{
    width: 100px;
}

header > .navbar li a {
    color: white !important;
    text-decoration: none;
}

header > .navbar li:hover a,
header > .navbar li.active a {
    background-color: #130d27 !important;
    border-radius: 4px;
}

@media screen and (min-width: 991px) {
    body > header {
        padding-top: 20px;
        height: 650px;
    }

    body > header .navbar-nav {
        font-size: 16px;
        margin-right: -36px !important;
        padding-top: 30px;
    }
}

header h1 {
    font-size: 6rem;
}

@media screen and (min-width: 992px) {
    header .preview .col-xs-12:first-of-type{
        padding-left: 35px;
    }
    
    header h1 {
        font-size: 8.4rem;
        line-height: .87;
        margin-top: 125px;
        margin-bottom: 40px;
    }
}

header h1 span {
    color: white;
}

header h1 + p {
    color: white;
}

header .preview .col-xs-12:last-child {
    position: relative;
}

header form {
    background-color: white;
    border-radius: 5px;
    padding: 20px 20px 30px 22px;
    box-shadow: 0 10px 35px -10px #333;
}

header .checkbox {
    font-size: 2rem;
}

header input[type=checkbox] {
    transform: scale(1.4);
    cursor: pointer;
}

@media screen and (min-width: 991px) {
    header form {
        position: absolute;
        top: 120px;
        right: 0;
        width: 375px;
    }
    
    header form h3 {
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 30px;
    }
    
    header .form-group {
        margin-bottom: 10px;
    }
    
    header input {
        height: 60px !important;
    }
    .checkbox{
        font-weight: bold;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
        padding-left: 30px !important;
    }
    
    header .checkbox label {
        margin-top: -5px;
        padding-left: 14px;
    }
    header .checkbox input {
        height: 21px !important;
    }
    header form button {
        font-size: 20px !important;
        letter-spacing: 5px;
        font-weight: bold !important;
        padding-top: 12px !important;
        padding-bottom: 10px !important;
    }
}

/*SERVICES*/

.services h2 {
    margin-bottom: 30px;
}

.services p {
    margin-bottom: 15px;
}

@media screen and (min-width: 992px) {
    .services h2 {
        margin-top: 35px;
        margin-bottom: 80px;
    }

    .services img {
        margin-bottom: 30px;
        height: 145px;
    }

    .services p {
        margin-bottom: 45px;
    }
}

/*STORY*/

.story {
    padding: 15px 0;
}

.story p {
    text-align: center;
    padding-bottom: 10px;
}

.story .btn {
    width: 80%;
}

@media screen and (min-width: 992px) {
    .story {
        padding: 27px 0 13px;
    }

    .story p {
        font-size: 18px;
        padding-left: 18px;
    }

    .story .btn {
        font-size: 18px;
        margin-left: 40px;
        margin-top: 2px;
        padding: 18px 73px;
    }
}

/*PRICE*/

@media screen and (max-width: 991px) {
    .price .price-item {
        margin-bottom: 15px;
    }
}

.price .price-item {
    background-color: white;
    border-radius: 6px;
    padding: 15px 0;
}

@media screen and (min-width: 991px) {
    .price-item {
        width: 300px;
    }
}

h2.pricing-heading {
    margin-top: 40px 0;
}

@media screen and (min-width: 992px) {
    h2.pricing-heading {
        font-size: 4.7rem;
        margin-top: 57px;
        margin-bottom: 46px;
    }
}

.price-item_popular {
    position: absolute;
    top: 0;
}

.price-item_popular-figure {
    border-top: 100px solid #c52313;
    border-right: 100px solid transparent;
    position: absolute;
    z-index: 10;
}

.price-item_popular p {
    font-size: 16px;
    position: absolute;
    top: 25px;
    left: 5px;
    z-index: 100;
    transform: rotate(-45deg)
}

h2.price-number {
    font-size: 6rem;
}

@media screen and (min-width: 992px) {
    .price-item {
        padding-bottom: 0 !important;
    }

    .price-item h3 {
        margin-top: 10px;
    }

    h2.price-number {
        margin-top: 20px;
    }

    .price-item li + li {
        margin-top: -2px;
    }

    .price-item .btn {
        margin-top: 18px;
        padding: 10px 70px;
    }
}

/*GALLERY*/

@media screen and (min-width: 992px) {
    #gallery {
        padding-top: 117px;
        padding-bottom: 110px;
    }
}

#gallery article h3 {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
}

@media screen and (min-width: 991px) {

    #gallery h2 {
        font-size: 4.7rem;
        margin-bottom: 26px;
    }
    
    #gallery article p {
        font-size: 18px;
    }

    #gallery article h3 {
        margin-top: 20px;
    }

    #gallery article {
        position: relative;
        padding: 15px 60px 15px 23px;
        width: 420px;
    }

    #gallery article img {
        position: absolute;
        top: 10px;
        right: -60px;
    }

    #gallery article:first-of-type {
        margin-bottom: 33px;
    }

    #gallery article:last-child {
        border-radius: 6px;
        padding-top: 18px;
    }

    .gallery-users .col-md-4 {
        margin-top: 15px;
    }
}

/*FOOTER*/

footer {
    padding: 30px 0;
}

@media screen and (min-width: 992px) {
    footer {
        padding: 69px 0;
    }
    
    footer img {
        width: 200px;
        margin-top: -10px;
        margin-right: -23px;
    }
}

/*THEME*/

.btn {
    transition: .5s !important;
}

.btn:hover {
    color: white !important;
    text-decoration: underline !important;
}

.bg__dark {
    background-color: #130d27 !important;
    color: white !important;
}

.text__dark {
    color: #130d27 !important;
}

.text__red {
    color: #c52313 !important;
}

.btn__red {
    background-color: #c52313 !important;
    color: white !important;
}

.btn__dark {
    background-color: #130d27 !important;
    color: white !important;
}

.bg__grey {
    background-color: #efefef;
}
