body{
	font-family: Merriweather, serif;
	background-color: #f8f8f8;
	margin: 0;
}

h3{
	font-weight: 400;
}
/*HEADER*/

header{
	color: black;
	font-size: 24pt;
	padding-top: 100px;
}

@media screen and (max-width: 991px) {
	header{
		padding-top: 40px;
	}
}

.logo{
	background: url(../image/logo.png);
	box-sizing: border-box;
	margin: 0 auto;
	height: 40px;
	width: 40px;
}

h2{
	font-weight: 700;
}

header p{
	letter-spacing: .2em;
}

/*MAIN*/

h1{
	font-size: 160px;
	font-weight: 700;
	letter-spacing: 0.15em;
}

h1 + p{
	font-size: 18px;
	margin-top: -34px;
	margin-left: 10px;
}

@media screen and (max-width: 767px){
	h1{
		font-size: 120px;
		letter-spacing: 0.29em;
		margin-top: 0;
	}
	h1 + p {
		margin-left: -7%;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	h1{
		font-size: 140px;
		letter-spacing: 0.20em;
	}
	h1 + p {
		margin-left: -22px;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	h1 + p {
		margin-left: -18px;
	}
}

.main-content{
	margin: 30px auto;
}

@media screen and (max-width: 991px){
	.main-content{
		margin: 10px auto;
	}
}

form input{
	border-radius: 0 !important;
}

input[type="submit"].btn{
	border: 1px solid #ccc;
	padding-bottom: 6.5px;
}

.main-footer{
	color: #424242;
}

.main-footer h3 + p{
	font-size: .95em;
	margin: 30px auto;
}

@media screen and (max-width: 991px){
	.main-footer h3 + p{
		margin: 10px auto;
	}
}

.main-footer .text-uppercase{
	margin-left: -15px;
}

.main-footer a{
	color: #363636;
}

.main-footer a span{
	margin-right: 10px;
}

/*FOOTER*/

footer{
	color: #999;
	font-weight: 300;
	margin: 80px auto;
}

@media screen and (max-width: 991px){
	footer{
		margin: 10px auto;
	}
}

footer a{
	color: #999;
}

footer a:hover{
	color: #ff9211;
}

footer p:nth-child(2){
	margin-bottom: 0;
}

/*STYLE*/

.theme_color{
	color: white;
	background-color: #ff9211;
}

.text_color{
	color: #ff9211;
}