body{
	font-family: Lato, "Open Sans", sans-serif;
	color: #999;
	background-color: #f6f9f9;
}

h2, h3{
	color: #2d3950;
	font-weight: 400;
}

/*HEADER*/

body > header {
	height: 100px;
}

body > header .col-xs-12 {
	padding-top: 27px;
	padding-left: 30px;
}

/*SLOGAN*/

.slogan {
	color: white;
	background: url(../img/banner-bg.jpg) no-repeat center/cover;
	padding-top: 200px;
	height: 800px;	
}

.slogan h1 {
	font-size: 7.5em;
	font-weight: bold;
}

.slogan hr {
	border: 1px solid #15a4fa;
	width: 40%;
}

.slogan p {
	font-size: 1.125em;
}

.slogan button {
	margin-top: 50px;
}

/*INFO*/

.info {
	padding-top: 80px;
	padding-bottom: 60px;
}

/*CARDS*/

.cards {
	background-color: #fff;
	padding-top: 60px;
	padding-bottom: 50px;
}

.cards .card {
	width: 80%;
}

@media screen and (max-width: 992px) {
	.cards .card {
		margin-bottom: 20px;
		width: 50%;
	}
}

/*PORTFOLIO*/

.portfolio {
	padding-top: 70px;
	padding-bottom: 70px;
}

.portfolio .row:last-child {
	margin-top: 70px;
}

.portfolio .row:last-child > div {
	margin-bottom: 30px;
}

.img-container {
	position: relative;
	border-radius: 4px;
	max-width: 360px;
}

.filter {
	background-color: rgba(39,169,245,.7);
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 100;
	height: 100%;
	width: 100%;
}

.filter a {
	color: white;
	background-color: transparent;
	margin: 10px;
}

.img-container:hover .filter{
	visibility: visible;
}

/*FORM-BLOCK*/

.form-block {
	background: url(../img/form-bg.jpg) no-repeat center/cover;
	padding-top: 60px;
	height: 700px;
}

.form-block h2 {
	color: white;
}

form {
	margin-top: 40px;
}

form input[type="text"],
form input[type="email"],
form textarea.form-control {
	color: white;
	background-color: transparent;
}

form label {
	color: white;
}

form textarea {
	resize: none;
}

/*FOOTER*/

footer {
	height: 90px;
}

footer .row > div:first-child {
	padding-top: 34px;
}

footer .pull-right {
	padding-top: 24px;
}

/*STYLE*/

.bg-theme {
	background-color: #15a4fa;
}