@font-face{
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("Open_Sans/OpenSans-Light.ttf") format("truetype");
}

@font-face{
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face{
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("Open_Sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("Roboto/Roboto-Light.ttf") format("truetype");
}