.clearfix::after{
	content: "";
	display: table;
	clear: both;
	width: 100%;
}

.wrapper{
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 10px;
}

*[class*="col-"]{
	box-sizing: border-box;
	float: left;
	margin: 0 10px;
}

@media screen and (min-width: 481px;) {
	
}

@media screen and (min-width: 720px) {
	
}

@media screen and (min-width: 961px) {
	.wrapper{
		width: 960px;
	}
	
	.col-1{
		width: 215px;
	}

	.col-2{
		width: 450px;
	}
}

@media screen and (min-width: 1141px) {
	.wrapper{
		width: 1140px;
	}
	.col-1{
		width: 260px;
	}

	.col-2{
		width: 540px;
	}

	.col-4{
		width: 1100px;
	}	
}
