body{
	color: white;
	font-family: "Open Sans", sans-serif;
	margin: 0px;
}

div[class*="section"]{
	background-size: cover;
	margin: 0 auto;
	height: 1000px;
}

div[class*="section"] > .wrapper{
	position: relative;
}

.section1{
	background: url(../image/section1-bg.jpg) no-repeat;
	position: relative;
}

.section2{
	background: url(../image/section2-bg.jpg) no-repeat;
}

.section3{
	background: url(../image/section3-bg.jpg) no-repeat;
}

.section4{
	background: url(../image/section4-bg.jpg) no-repeat;
}

.section5{
	background: url(../image/section5-bg.jpg) no-repeat;
}
/*HEADER ALL SECTIONS*/
.logo{
	position: absolute;
	left: 20px;
	z-index: 10;
	margin-top: 35px;
	width: 151px;
}

.logo div{
	background: url(../image/logo.png) no-repeat;
}

.logo div{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	height: 30px;
}

nav{
	text-transform: capitalize;
	float: right;
	position: absolute;
	right: 0;
	z-index: 10;
}

nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li{
	float: left;
	margin-right: 5px;
}

nav li:last-child{
	margin-right: 0;
}

nav li a{
	color: white;
	font-size: 1.1em;
	text-decoration: none;
	display: block;
	border-radius: 0 0 3px 3px;
	padding: 40px 25px 15px;
}

nav li:first-child a:hover{
	text-decoration: underline;
	background: #74c7d5;
}

nav li:nth-child(2) a:hover{
	text-decoration: underline;
	background: #df5c64;
}

nav li:nth-child(3) a:hover{
	text-decoration: underline;
	background: #91778e;
}

nav li:nth-child(4) a:hover{
	text-decoration: underline;
	background: #a1ca6c;
}

nav li:last-child a:hover{
	text-decoration: underline;
	background: #82c8bd;
}

/*INTRO ALL SECTION*/

section.wrapper{
	padding-top: 120px;
	padding-bottom: 120px; 
}

section > .heading{
	text-align: center;
}

section > .heading h2{
	font-size: 3em;
	font-weight: 300;
	text-transform: uppercase;
}

section > .heading p:last-child{
	font-size: .8em;
}

/*ARTICLE ALL SECTION*/

article{
	font-weight: 300;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*SECTION 1*/

.slider{
	background: url(../image/slider-bg.jpg) no-repeat;
	position: relative;
	z-index: 1;
	margin: 0 auto;
	height: 1000px;
	width: 1600px;
}

.slider > div{
	position: absolute;
	z-index: 15;
}

.arrows{
	top: 50%;
	width: 100%;
}

.arrows div{
	position: absolute;
	height: 56px;
	width: 34px;
}

.arrows div:hover{
	opacity: .8;
}

.arrows .larrow{
	background: url(../image/larrow.png);
	left: 2%;
}

.arrows .rarrow{
	background: url(../image/rarrow.png);
	right: 2%;
}

.arrows a{
	display: block;
	height: 100%;
	width: 100%;
}

.slogan{
	color: #74c7d5;
	background: rgba(255,255,255,.5);
	border-radius: 3px;
	left: 410px;
	top: 420px; 
	height: 170px;
	width: 840px;
}

.slogan > div{
	text-align: right;
	float: left;
	box-sizing: border-box;
	padding-top: 20px;
	width: 50%;
}

.slogan > div:first-child{
	padding-top: 35px;
	line-height: 2.6em;
}

.slogan > div:last-child{
	padding-top: 10px;
}

.slogan .right{
	font-size: 4em;
	font-weight: 300;
}

.slogan .right .upp{
	text-transform: uppercase;
	width: 50%;
}

.slogan .big{
	font-size: 8em;
	font-weight: 700;
	text-transform: uppercase;
	vertical-align: top;
}

.slider .links{
	left: 730px;
	bottom: 8%;
}

.slider .link{
	float: left;
}

.slider .link:nth-child(2){
	margin: 0 40px;
}

.slider .link a{
	background: rgba(100%,100%,100%,1);
	display: block;
	border-radius: 50px;
	height: 20px;
	width: 20px;
}

.slider .link a:hover{
	opacity: .5;
}

/*SECTION2*/

.section2 .heading p:first-of-type{
	font-size: 1.5em;
}

@media screen and (max-width: 1140px){
	.section2 .heading p:first-of-type{
		font-size: 1em;
	}
}

.service-info{
	text-align: center;
	margin-top: 120px;
}

.service-info > article{
	background-color: #c45158;
	padding: 30px 0;
	border-radius: 3px;
	height: 400px;
}

.service-info > article .fa-stack{
	border: 5px solid white;
	border-radius: 50%;
	box-sizing: border-box;
	height: 150px;
	width: 150px;
}

.service-info > article .fa-stack-2x{
	font-size: 150px;
	margin-top: -5px;
}

.service-info > article .fa-stack-1x{
	color: #c45158;
	font-size: 70px;
	margin-top: 6px;
	margin-left: -2px;
}

.service-info > article:first-child .fa-stack-1x{
	font-size: 80px;
}

.service-info h3{
	font-size: 2em;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 1.5em;
}

@media screen and (max-width: 1140px){
	.service-info h3{
		font-size: 1.5em;
	}
}

.service-info p{
	font-size: .8em;
}

/*SECTION3*/

.meet-team{
	text-align: center;
	background-image: url(../image/meet-team.png);
	margin: 54px auto;
	padding-top: 10px;
	box-sizing: border-box;
	height: 66px;
	width: 276px;
}

.meet-team p{
	font-size: 1.2em;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}

.team-carts .col-1{
	text-align: center;
	background-color: rgba(77,63,75,.5);
	padding: 30px 0;
	border-radius: 3px;
	height: 380px;
}

.team-carts .col-1 .face{
	background-image: url(../image/meber.png);
	margin: 0 auto;
	height: 164px;
	width: 164px;
}

.team-carts .col-1 h3{
	color: #c7b6c5;
	font-size: 1.5em;
	font-weight: 900;
	text-transform: uppercase;
}

.team-carts .col-1 p{
	color: #a1ca6c;
	text-transform: capitalize;
}

.team-carts .col-1 .social{
	margin: 0 auto;
	width: 180px;
}

.team-carts .col-1 .social a{
	background-color: #4d3f4b;
	margin-right: 20px;
	padding-top: 7px; 
	height: 30px;
	width: 30px;
}

.team-carts .col-1 .social a:last-child{
	margin-right: 0;
}

.team-carts .col-1:hover{
	background-color: rgba(77,63,75,.8);
}

.team-carts .col-1:hover .face{
	background-image: url(../image/meber-hover.png);
}

.team-carts .col-1:hover h3{
	color: white;
}

.team-carts .col-1:hover p{
	color: #ff8973;
}

.team-carts .col-1:hover a:first-child{
	background-color: #4f689e;
}

.team-carts .col-1:hover a:nth-child(2){
	background-color: #74c7d5;
}

.team-carts .col-1:hover a:nth-child(3){
	background-color: #df5c64;
}

.team-carts .col-1:hover a:last-child{
	background-color: #3e61af;
}

/*SECTION4*/

.portfolio .portfolio-heading{
	border-top: 1px solid #94b963;
	border-bottom: 1px solid #94b963;
}

@media screen and (max-width: 1140px) {
	.portfolio .portfolio-heading .col-2{
		float: right;
		width: auto;
	}	
}

.portfolio h3{
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
}

.portfolio ul{
	text-align: center;
	list-style: none;
	margin: 1.3em 0 0;
	padding: 0;
}

.portfolio ul li{
	display: inline-block;
}

.portfolio ul li a{
	color: white;
	font-weight: 700;
	text-decoration: none;
	display: block;
	padding: 10px 20px;
}

.portfolio ul li a:hover{
	text-decoration: underline;
	background-color: #f5c149;
	border-radius: 5px;
}

.example .col-1{
	font-weight: 300;
	text-align: center;
	background-color: #eee;
	margin-top: 20px;
	border-radius: 4px;
	height: 250px;
}

.example-img{
	position: relative;
	height: 200px;
}

.example-img img{
	height: 200px;
	width: 100%;
}

.example-img .example-img_hover{
	background: url(../image/up.png) no-repeat bottom center;
	position: absolute;
	margin-top: -205px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	height: 100%;
	width: 100%;
}

.example-img:hover .example-img_hover{
	background: rgba(64,77,41,.7) url(../image/plus.png) no-repeat center center;
}

.example-img:hover .example-img_hover a{
	display: block;
	background: url(../image/up.png) no-repeat bottom center;
	height: 100%;
	width: 100%;
}

.example .col-1 h4{
	color: #727272;
	font-weight: 400;
	text-transform: uppercase;
	margin: .8em 0;
}

/*SECTION5*/

.section5{
	position: relative;
}

.contact-info{
	margin-top: 120px;
}

.contact-info h3{
	color: #c0dfda;
	font-size: 1.5em;
	font-weight: 300;
}

.vcard big{
	color: #c0dfda;
	font-weight: 700;
}

.vcard img{
	float: right;
}

@media screen and (max-width: 1140px){
	.vcard img{
		width: 240px; 
	}
}

.vcard .box{
	margin-top: 70px;
	display: table;
}

.vcard .box div{
	display: table-row;
}

.vcard .box div span{
	color: #c0dfda;
	display: table-cell;
}

.vcard .box div span:last-child{
	color: white;
	padding-left: 10px;
}

form{
	text-align: center;
}

form input, form textarea{
	font-family: "Open Sans";
	color: #82c8bd;
	float: left;
	display: block;
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
	padding: 15px 20px;
	resize: none;
}

form input{
	height: 40px;
	margin: 0 !important;
}

form input:first-child{
	margin-right: 20px !important;
}

form textarea{
	margin: 20px 0 30px !important;
	height: 160px;
	width: 540px;
}

form input:focus, form textarea:focus{
	color: #b5b5b5;
	background-color: #f6f6f6;
}

input[type="submit"]{
	color: white;
	font-size: 1.6em;
	font-weight: 900;
	text-transform: uppercase;
	background-color: #df5c64;
	float: none;
	margin: 0 auto !important;
	border-bottom: 4px solid #c8535a;
	padding: 0 !important;
	height: 50px;
}

.section5 footer{
	position: absolute;
	bottom: 0;
	height: 140px;
	width: 100%;
}

.address-social{
	margin: 42px auto 0; 
	width: 360px;
}

.address-social a{
	background-color: #82c8bd;
	margin-right: 40px;
	padding-top: 14px;
	height: 60px;
	width: 60px;
}

.address-social a:last-child{
	margin-right: 0;
}

/*THEME*/

.nav_active1{
	background: #74c7d5; 
}

.nav_active2{
	background: #df5c64;
}

.nav_active3{
	background: #91778e;
}

.nav_active4{
	background: #a1ca6c;
}

.nav_active5{
	background: #82c8bd;
}

.slider_active{
	opacity: .5;
}

.portfolio_active{
	text-decoration: underline;
	background-color: #f5c149;
	border-radius: 5px;
}

.input_theme{
	background-color: #68a097;
}

.social-link_style{
	color: white;
	text-decoration: none;
	display: block;
	float: left;
	border-radius: 50%;
	box-sizing: border-box;
}