body{
	color: #999;
	font-family: Lato, "Open Sans", Helvetica, sans-serif;
	text-align: center;
	background-color: #f6f9f9;
}

h1{
	color: white;
	font-size: 7.5em;
	margin-bottom: 0;
}

h2, h3{
	color: #2d3950;
	font-weight: 400;
}

h2{
	font-size: 2.5em;
	margin-top: 60px;
}

.banner, .feature, .form{
	box-sizing: border-box;
	overflow: hidden;
}

/*HEADER*/

header{
	height: 100px;
}

header .logo{
	float: left;
	margin: 27px 30px;
}

/*BANNER*/

.banner{
	color: white;
	background: url(../image/banner-bg.jpg) no-repeat center/cover;
	height: 800px;
}

.banner p{
	font-size: 1.25em;
	margin: 2em auto;
}

.banner hr{
	border: 1px solid #15a4fa;
	width: 600px;
}

.banner a{
	font-size: 1.5em;
	margin: 30px auto;
	padding-top: 12px; 
	height: 60px;
	width: 182px;
}

.banner a:hover{
	text-decoration: underline;
}

/*INFO*/




/*FEATURE*/

.feature{
	background-color: white;
	padding: 60px 0;
	height: 340px;
}

.feature .col-1{
	width: 360px;
}

/*PORTFOLIO*/

.portfolio{
	padding-bottom: 80px;
}

.portfolio .col-1{
	margin: 15px 30px 15px 0;
	border-radius: 3px;
	height: 260px;
	width: 360px;
}

.portfolio .col-1:nth-child(3n){
	margin-right: 0;
}

.portfolio .col-1:nth-child(1){
	background-image: url(../image/bg-1.jpg);
}

.portfolio .col-1:nth-child(2){
	background-image: url(../image/bg-2.jpg);
}

.portfolio .col-1:nth-child(3){
	background-image: url(../image/bg-3.jpg);
}

.portfolio .col-1:nth-child(4){
	background-image: url(../image/bg-4.jpg);
}

.portfolio .col-1:nth-child(5){
	background-image: url(../image/bg-5.jpg);
}

.portfolio .col-1:nth-child(6){
	background-image: url(../image/bg-6.jpg);
}

.portfolio .container{
	background-color: rgba(39,169,245,.9);
	opacity: 0;
	position: relative;
	border-radius: 3px;
	height: 100%;
	width: 100%;
}

.portfolio .container:hover{
	opacity: 1;
}

.portfolio .container > *{
	display: block;
	position: absolute;
	top: 40%;
	border: 1px solid white;
	border-radius: 5px;
	box-sizing: border-box;
	height: 42px;
	width: 42px;
}

.portfolio .container > div{
	background: url(../image/zoom.png) no-repeat center;
	left: 35%;
}

.portfolio .container > a{
	background: url(../image/link.png) no-repeat center;
	right: 35%;
}

/*FORM*/

.form{
	color: white;
	background: url(../image/form-bg.jpg) no-repeat center/cover;
	height: 700px;
}

.form h2{
	color: white;
}

.form p{
	margin-bottom: 40px; 
}

form{
	margin: 0 auto;
	padding-bottom: 70px;
	box-sizing: border-box;
	width: 555px;
}

form input[type="text"],
form input[type="email"], 
form textarea{
	color: white;
	background-color: rgba(0,0,0,0);
	display: block;
	margin-bottom: 20px;
	border: 1px solid #999;
	border-radius: 3px;
	padding: 20px;
	box-sizing: border-box;
	width: 100%;
}

form input[type="text"],
form input[type="email"]{
	height: 62px;
}

form textarea{
	font-family: "Open Sans", Helvetica, sans-serif;
	height: 162px;
	resize: none;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus{
	border-color: white;
}

form label{
	float: left;
	overflow: hidden;
}

form input[type="checkbox"]{
	background-color: #999;
	margin: 15px 15px 0 0;
	border: none;
	border-radius: 3px;
	padding: none;
}

form input[type="submit"]{
	float: right;
	box-sizing: border-box;
	height: 47px;
	width: 142px;
}

/*FOOTER*/

footer.wrapper{
	padding: 10px;
	height: 90px;
}

.copy{
	float: left;
	margin-top: 35px;
}

.social{
	float: right; 
	margin-top: 25px;
	padding: 0;
	list-style: none;
}

.social li{
	float: left;
}

.social li a{
	display: block;
	margin-right: 5px;
	height: 40px;
	width: 40px;
}

.social li:nth-child(1) a{
	background: url(../image/Facebook.png);
}

.social li:nth-child(2) a{
	background: url(../image/Twitter.png);
}

.social li:nth-child(3) a{
	background: url(../image/Google.png);
}

.social li:nth-child(4) a{
	background: url(../image/Linked.png);
	margin-right: 0; 
}

/*THEME*/

.theme_blue{
	color: white;
	background: #15a4fa;
}

.btn{
	text-decoration: none;
	display: block;
	border: none;
	border-radius: 3px;
	box-sizing: border-box;
}